.about {
    &__wrapper {
        margin-top: 10rem;
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        'box1 box2'
        'box3 box3';

        & .about__box:last-child {
            grid-area: box3;
        }
    }

    &__wrapper p {
        color: $clr-secondary-200;
    }


    &__wrapper ul img {
        height: 100px;
        max-width: 200px;
    }
}