.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: $fw-500;
    transition: all .2s;

    &:hover {
        opacity: .8;
    }
}

.btn--left {
    @extend .btn;
    background-color: $clr-primary;
    color: $clr-accent-100;
    margin-right: 1rem;
}

.btn--right {
    @extend .btn;
    background-color: $clr-secondary-500;
    color: $clr-secondary-200;
}

.btn--link {
    @extend .btn;
    border: 1px solid $clr-primary;
    color: $clr-primary;
    padding: .5rem 1rem;
    text-transform: uppercase;

    &:hover {
        background: $clr-primary;
        color: $clr-accent-900;
    }
}

.btn--submit {
    @extend .btn;
    background-color: transparent;
    border: 1px solid $clr-primary;
    color: $clr-accent-100;

    &:hover {
        border: 1px solid $clr-accent-100;
        color: $clr-primary;
    }
}

.section__intro {

    &--icon {
        height: 50px;
    }

    & p {
        color: $clr-secondary-200;
        margin-inline: auto;
        max-width: 80ch;
        text-align: center;
        margin-top: 1.5rem;
    }
}

.tag {
    display: inline-block;
    background-color: $clr-primary;
    padding: 2px 1rem;
    border-radius: 1rem;
}

.email__box {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: $clr-primary;
    font-weight: $fw-500;
    font-size: 1.8rem;
    padding: 2rem;

    & img {
        height: 50px;
        width: 50px;
    }
}

.about__box {
    background: $clr-secondary-500;
    padding: 2rem;
    border-radius: .5rem;
}

.flex__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
}