.hero {
    padding-bottom: 0;

    & p {
        color: $clr-secondary-200;
    }

    &__wrapper {
        padding: 10rem 0;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 5rem;
        
        &--content {
            display: grid;
            gap: 1rem;
        }

        &--image {
            max-height: 350px;
            max-width: 350px;
            border-radius: 100%;
            border: 5px solid $clr-primary;

            @media (max-width: $bp-sm){
                max-height: 250px;
                max-width: 250px;
            }
        }

        & img {
            border-radius: 100%;
        }
    }

    @media screen and (max-width: $bp-md) {
        &__wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 5rem;
        }
    }

    @media screen and (max-width: $bp-sm) {
        padding-bottom: 4rem;

        &__wrapper {
            display: none;
        }

        &__wrapper--image,
        &__wrapper--buttons {
            margin-inline: auto;
        }
        &__wrapper--buttons {
            font-size: 1.5rem;
        }
        &__wrapper p {
            text-align: center;
        }
        &__wrapper--mobile {
            display: grid;
            gap: 2rem;
        }
        &__wrapper--mobile img {
            border-radius: 100%;
        }
    }
}

