.projects {
    &__wrapper {
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
}

.project__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $clr-secondary-500;
    border-radius: .5rem;

    &--image {
        height: 400px;
        object-fit: cover;
        border-radius: .5rem;

        @media(max-width: $bp-md) {
            height: 250px;
        }
    }

    &--content {
        padding: 2rem 4rem;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @media (max-width: $bp-md) {
            padding: 1rem;
            gap: 2rem;
        }
    }

    &--tags {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;

        @media (max-width: $bp-sm) {
            font-size: 1.4rem;
        }
    }

    & p {
        color: $clr-secondary-200;
    }

    &--buttons {
        display: flex;
        gap: 1rem;
    }

    @media (max-width: $bp-md) {
        display: flex;
        flex-direction: column-reverse;
        gap: 5rem;
    }
}