/* Reset */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

input,
button,
textarea,
select,
h1,
h2,
h3 {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Variables */
/* General styling */
body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: #121723;
}

section {
  padding: 8rem 0;
}
@media (max-width: 576px) {
  section {
    padding: 4rem 0;
  }
}

.container {
  width: min(1200px, 100% - 20px);
  margin-inline: auto;
}

.heading-primary {
  font-size: 3.5rem;
  font-weight: 700;
  color: #fbfbfb;
}
@media (max-width: 576px) {
  .heading-primary {
    font-size: 2.8rem;
  }
}

.heading-secondary {
  font-size: 3rem;
  font-weight: 600;
  color: #fbfbfb;
  text-align: center;
}
@media (max-width: 576px) {
  .heading-secondary {
    font-size: 2.4rem;
  }
}

.heading-tertiary {
  font-size: 2.2rem;
  font-weight: 500;
  color: #fbfbfb;
}
@media (max-width: 992px) {
  .heading-tertiary {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .heading-tertiary {
    font-size: 2rem;
  }
}

.display-block {
  display: block !important;
}

.display-none {
  display: none;
}

.btn, .btn--submit, .btn--link, .btn--right, .btn--left {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  transition: all 0.2s;
}
.btn:hover, .btn--submit:hover, .btn--link:hover, .btn--right:hover, .btn--left:hover {
  opacity: 0.8;
}

.btn--left {
  background-color: #2cab75;
  color: #fbfbfb;
  margin-right: 1rem;
}

.btn--right {
  background-color: #1d2430;
  color: #77808f;
}

.btn--link {
  border: 1px solid #2cab75;
  color: #2cab75;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}
.btn--link:hover {
  background: #2cab75;
  color: #121723;
}

.btn--submit {
  background-color: transparent;
  border: 1px solid #fbfbfb;
  color: #fbfbfb;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.btn--submit:hover {
  background-color: #fbfbfb;
  color: #121723;
}

.btn-toggle {
  cursor: pointer;
  height: 40px;
  border: none;
  background-color: transparent;
  transition: all 0.2s ease-in;
}
.btn-toggle:hover {
  transform: scale(1.2);
}
@media (max-width: 576px) {
  .btn-toggle {
    display: block;
  }
}

.section__intro--icon {
  height: 50px;
  margin-bottom: 1.5rem;
}
.section__intro p {
  color: #77808f;
  margin-inline: auto;
  max-width: 80ch;
  text-align: center;
  margin-top: 1.5rem;
}

.tag {
  display: inline-block;
  background-color: #2cab75;
  padding: 2px 1rem;
  border-radius: 1rem;
}

.email__box {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #2cab75;
  font-weight: 500;
  font-size: 1.8rem;
  padding: 2rem;
}
.email__box img {
  height: 50px;
  width: 50px;
}

.about__box {
  background: #1d2430;
  padding: 2rem;
  border-radius: 0.5rem;
}

.flex__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
}

.hero {
  padding-bottom: 0;
}
.hero p {
  color: #77808f;
}
.hero__wrapper {
  padding: 10rem 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5rem;
}
.hero__wrapper--content {
  display: grid;
  gap: 1rem;
}
.hero__wrapper--image {
  max-height: 350px;
  max-width: 350px;
  border-radius: 100%;
  border: 5px solid #2cab75;
}
@media (max-width: 576px) {
  .hero__wrapper--image {
    max-height: 250px;
    max-width: 250px;
  }
}
.hero__wrapper img {
  border-radius: 100%;
}
@media screen and (max-width: 992px) {
  .hero__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
}
@media screen and (max-width: 576px) {
  .hero {
    padding-bottom: 4rem;
  }
  .hero__wrapper {
    display: none;
  }
  .hero__wrapper--image, .hero__wrapper--buttons {
    margin-inline: auto;
  }
  .hero__wrapper--buttons {
    font-size: 1.5rem;
  }
  .hero__wrapper p {
    text-align: center;
  }
  .hero__wrapper--mobile {
    display: grid;
    gap: 2rem;
  }
  .hero__wrapper--mobile img {
    border-radius: 100%;
  }
}

.skills__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 10rem;
}
.skills__wrapper img {
  height: 48px;
  width: 48px;
}
.skills__box {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #1d2430;
}
.skills__box p {
  font-weight: 500;
  color: #fbfbfb;
}

.projects__wrapper {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.project__box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #1d2430;
  border-radius: 0.5rem;
}
.project__box--image {
  height: 400px;
  object-fit: cover;
  border-radius: 0.5rem;
}
@media (max-width: 992px) {
  .project__box--image {
    height: 250px;
  }
}
.project__box--content {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (max-width: 992px) {
  .project__box--content {
    padding: 0;
    gap: 2rem;
  }
}
.project__box--tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
@media (max-width: 576px) {
  .project__box--tags {
    font-size: 1.4rem;
  }
}
.project__box p {
  color: #77808f;
}
.project__box--buttons {
  display: flex;
  gap: 1rem;
}
@media (max-width: 992px) {
  .project__box {
    display: flex;
    flex-direction: column-reverse;
    gap: 5rem;
  }
}

.contact__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact__wrapper div:first-child p {
  font-size: 2.3rem;
  font-weight: 500;
  color: #fbfbfb;
}
@media (max-width: 576px) {
  .contact__wrapper div:first-child p {
    font-size: 2.1rem;
  }
}
.contact__wrapper > * {
  padding: 2rem;
}
@media (max-width: 992px) {
  .contact__wrapper > * {
    padding: 1rem;
  }
}
@media (max-width: 992px) {
  .contact__wrapper {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
}
.contact__social {
  display: grid;
  gap: 2rem;
}
.contact__social--box {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #fbfbfb;
}
.contact__social--box img {
  height: 50px;
  width: 50px;
}
.contact__social--box a {
  color: #fbfbfb;
}
@media (max-width: 992px) {
  .contact__social {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
.contact__form {
  padding: 3rem;
  border-left: 2px solid #1d2430;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 992px) {
  .contact__form {
    border: 0;
    padding: 0;
  }
}
.contact__form label {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: #fbfbfb;
  font-weight: 500;
}
.contact__form input, .contact__form textarea {
  width: 100%;
  border: none;
  background-color: #1d2430;
  padding: 1rem;
  color: #fbfbfb;
}
.contact__form input:focus, .contact__form textarea:focus {
  outline: none;
}
.contact__form textarea {
  width: 100%;
  padding: 1rem;
}

.contact__form--group-wrapper {
  display: flex;
  align-items: center;
  gap: 3rem;
}
@media (max-width: 992px) {
  .contact__form--group-wrapper {
    flex-direction: column;
    align-items: normal;
  }
}

.contact__wrapper--col-1 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
@media (min-width: 992px) {
  .contact__wrapper--col-1 h2 {
    text-align: left;
  }
}
@media (max-width: 992px) {
  .contact__wrapper--col-1 p {
    text-align: center;
  }
}

footer {
  background-color: #1d2430;
  padding: 2rem;
  color: #77808f;
  font-size: 1.4rem;
}

.about__wrapper {
  margin-top: 10rem;
  display: grid;
  gap: 2rem;
}
@media (min-width: 992px) {
  .about__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
.about__wrapper p {
  color: #77808f;
}

.header {
  background-color: #1d2430;
  padding: 3rem;
}
.header__wrapper {
  display: flex;
  position: relative;
}
.header__wrapper > * {
  padding: 0 1rem;
}
.header__wrapper a {
  color: #77808f;
  font-weight: 600;
}
.header__wrapper a:hover {
  color: #2cab75;
}
@media (max-width: 576px) {
  .header__wrapper {
    justify-content: space-between;
    align-items: center;
  }
}
.header .logo {
  font-size: 1.8rem;
  border-right: 1px solid #77808f;
}
.header .logo a {
  color: #fbfbfb;
}
@media (max-width: 576px) {
  .header .logo {
    border: 0;
  }
}
.header .main-nav {
  display: flex;
  gap: 1rem;
  flex-grow: 2;
}
@media (max-width: 576px) {
  .header .main-nav {
    display: none;
  }
}
.header .main-nav-mobile {
  padding: 2rem;
}
.header .main-nav-mobile a {
  color: #fbfbfb;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}
.header .main-nav-mobile li {
  text-align: center;
  padding: 1rem;
}
@media (max-width: 576px) {
  .header__extra {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
